/* GLOBAL */
@use "partials/vars" as *; // Global Variables
@use "partials/colors" as *; // Colors
@use "partials/layout" as *; // Custom margin, positions ecc...
@use "partials/typo" as *; // Fonts and Typography Styles
@use "partials/components" as *; // Buttons, images and other controls

/* GRAPHIC FX */
@use "partials/effects" as *; // Graphic Effects
@use "partials/anim" as *; // Animations

/* COMPONENTS */

@use "partials/navbar" as *;
@use "partials/sidebar" as *;

@import "~bootstrap/scss/bootstrap";

h1,
h2,
h3,
h4,
h5 {
    font-family: $font-serif;
}

/* CARD APARTMENT */

.ms_card {
    height: 25rem;

    img {
        height: 10rem;
        object-fit: cover;
        transition: all 0.4s ease;
        opacity: 1;

        &:hover {
            filter: grayscale(1);
        }
    }
}

.ms_btn_add {
    transition: all 0.4s ease;
    color: $black_text_color;
    text-decoration: none;
    position: relative;

    .ms_box_info {
        .ms_info {
            position: absolute;
            top: -2.5rem;
            right: -1rem;
            opacity: 0;
        }

        .fa-circle-info {
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
        }
        &:hover {
            color: $premium_color;
        }

        &:hover .ms_info {
            opacity: 1;
        }
    }

    .fa-square-plus {
        font-size: 4rem;
    }

    &:hover {
        background-color: $black_text_color;
        color: white;
    }
}
