/* GLOBAL */
@use "partials/vars" as *;          // Global Variables
@use "partials/colors" as *;        // Colors
@use "partials/layout" as *;        // Custom margin, positions ecc...
@use "partials/typo" as *;          // Fonts and Typography Styles
@use "partials/components" as *;    // Buttons, images and other controls

/* GRAPHIC FX */
@use "partials/effects" as *;       // Graphic Effects
@use "partials/anim" as *;          // Animations


/* COMPONENTS */

@use "partials/navbar" as *;  
@use "partials/sidebar" as *;

@import "~bootstrap/scss/bootstrap";

/* CARD APARTMENT */

.ms_card {
    height: 22rem;
    width: 17rem;
}

.ms_btn_add {
    transition: all 0.4s ease;
    color: $black_text_color;
    text-decoration: none;
    position: relative;

    .fa-square-plus {
        font-size: 4rem;
    }

    .fa-circle-info {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
    }

    &:hover {
        background-color: $black_text_color;
        color: white;
    }

    &:hover .fa-circle-info {
        color: $premium_color;
    }

    &:hover .ms_add_apartment {
        opacity: 1;
    }

    .ms_add_apartment {
        position: absolute;
        bottom: 1rem;
        opacity: 0;
    }
}
