/* COLORS */
$light_gray_color: #adb5bd;
$black_text_color: #343a40;
$main_color: #e3fafc;
$main_darker_color: #1098ad;
$main_darker2_color: #0c8599;
$premium_color: #fcc419;

.ms-bg-light{background-color: $main_color!important;}
.ms-bg-dark{background-color: $main_darker2_color!important;}