/* COLORS */
$light_gray_color: #adb5bd;
$black_text_color: #343a40;
$main_color: #e3fafc;
$main_darker_color: #1098ad;
$main_darker2_color: #0c8599;
$premium_color: #fcc419;

//BG COLORS

.ms-bg-light {
    background-color: $main_color !important;
}
.ms-bg-dark {
    background-color: $main_darker2_color !important;
}
.ms-bg-premium {
    background-color: $premium_color !important;
}

//text COLORS

.ms_text_light {
    color: $main_color !important;
}
.ms_text_main_darker {
    color: $main_darker_color !important;
}
.ms_light_gray_text {
    color: $light_gray_color !important;
}
.ms_black_text {
    color: $black_text_color !important;
}
.ms_text_premium {
    color: $premium_color !important;
}

.ms_svg_main_color {
    width: 1.7rem;
    filter: brightness(0) saturate(100%) invert(56%) sepia(39%) saturate(859%)
        hue-rotate(140deg) brightness(81%) contrast(100%);
}

.sponsor_bronze {
    background-color: #d0b897 !important;
}

.sponsor_silver {
    background-color: #acacac !important;
}

.sponsor_gold {
    background-color: #f4d487 !important;
}
