@use "colors" as *;
@use "vars" as *;

/* CONTROLS */

.card-tile {
    transition: $transition_fast;
}

// .card-tile:hover {
//     -webkit-box-shadow: 0px 4px 15px 6px rgba(0, 0, 0, 0.1);
//     box-shadow: 0px 4px 15px 6px rgba(0, 0, 0, 0.1);
//     transform: translateY(-3px);
//     cursor: pointer;
// }


.card-tile.drop-shadow-sm:hover {
    -webkit-box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
    cursor: pointer;
}

.card-tile.drop-shadow-md:hover {
    -webkit-box-shadow: 0px 4px 15px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 15px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
    cursor: pointer;
}


.card-tile.drop-shadow-lg:hover {
    -webkit-box-shadow: 0px 4px 15px 9px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 15px 9px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    cursor: pointer;
}


.card-tile:hover .rounded-icon i {
    transform: translateX(-50px);
}

.card-tile:hover .rounded-icon::after {
    transform: translateX(-50px);
}

/* Icons */

.rounded-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 1.5rem;
    color: white;
    transition: $transition_fast;
    overflow: hidden;
}

.rounded-icon i {
    transition: $transition_fast;
}

.rounded-icon::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f054";
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 50px;
    top: 0;
    right: -50px;
    transition: $transition_fast;
    font-size: 0.8rem;
}

/* Buttons */

/**
*   USARE SEMPRE LA CLASSE "ms-btn" unitamente a "btn"
*/

.btn.ms-btn {
    transition: $transition_fast;
    overflow: hidden;
}

.btn.ms-btn-sm {
    font-size: 0.8rem;
}
.btn.ms-btn-md {
    font-size: 1rem;
}
.btn.ms-btn-lg {
    font-size: 1.5rem;
}

.btn.ms-btn::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f054";
    position: relative;
    right: -20px;
    transition: $transition_fast;
}

.btn.ms-btn:hover .btn.ms-btn::after {
    right: 60px;
}

.btn.ms-btn:hover {
    -webkit-box-shadow: 0px 2px 15px -6px $main_darker2_color;
    box-shadow: 0px 2px 15px -6px $main_darker2_color;
    background-color: transparent;
    border: 1px solid $main_darker2_color;
    color: $main_darker2_color;
    padding-right: 30px !important;
}


/* Blue Outline */

.btn.ms-btn-outline-primary {
    background-color: transparent;
    border: 1px solid $main_darker_color;
    color: $main_darker_color;
}

.btn.ms-btn-outline-primary:hover {
    background-color: $main_darker2_color;
    border: 1px solid $main_darker2_color;
    color: white;
}

/* Black Outline */

.btn.ms-btn-outline-black {
    background-color: transparent;
    border: 1px solid $black_text_color;
    color: $black_text_color;
}

.btn.ms-btn-outline-black:hover {
    background-color: $black_text_color;
    border: 1px solid $black_text_color;
    color: white;
}



/* Blue Button */

.btn.ms-btn-primary {
    background-color: $main_darker2_color;
    border: 1px solid $main_darker_color;
    color: white;
}

.btn.ms-btn-primary:hover {
    background-color: transparent;
    border: 1px solid $main_darker2_color;
    color: $main_darker2_color;
}




/* Yellow Button */

.btn.ms-btn-premium {
    border: 1px solid $premium_color;
    background-color: $premium_color;
    color: $black_text_color;
}






//CARD MESSAGE YELLOW INFO

.ms_speech {
    color: $black_text_color;
    font-weight: 600;
    text-align: center;
    font-size: 0.8rem;
    background: $premium_color;
    position: relative;
    padding: 0.5rem;
    border-radius: 0.5rem;
    max-width: 300px;
    transition: all 0.3s ease;
}

.ms_speech::after {
    content: "";
    border: 15px solid transparent;
    position: absolute;
}

.ms_bottom.ms_speech::after {
    //freccina giù
    border-top-color: $premium_color;
    border-bottom: 0;

    bottom: -10px;
    left: 80%;
    margin-left: -20px;
}
