@use "./colors" as *;

/* CONTROLS */

/* CARD APARTMENT BTNS*/

.ms_btn_card {
    padding: 0.5rem;
    text-decoration: none;
    font-size: 0.8rem;
    border-radius: 0.5rem;
}

.ms_btn_yellow {
    background-color: $premium_color;
    color: $black_text_color;
    font-weight: 600;
}
