@use 'colors' as *;
@use 'vars' as *;

/* EFFECTS */

.flat-shadow{
    border: none!important;
    border-bottom: 2px solid #e6e6e6!important;
}


.panel-shadow-right{
    -webkit-box-shadow: inset -36px 3px 36px -30px rgba($black_text_color, .7); 
    box-shadow: inset -36px 3px 36px -30px rgba($black_text_color, .7);
    border-right: 2px solid $main_darker2_color;
}