/* SIDEBAR */


.sidebar .nav-link{
    font-size: .9rem;
}

.sidebar .sidebar-title{
    font-weight: bold;
    font-size: .7rem;
}


@media screen and (max-width: 767px) {
    .sidebar-icon i{
        font-size: 2rem!important;
    }
}