/* SIDEBAR */


.sidebar .nav-link{
    font-size: .9rem;
}

.sidebar .sidebar-title{
    font-weight: bold;
    font-size: .7rem;
}

.sidebar-logo{
    height: 30px;
    filter: brightness(1) invert(1);
}

@media screen and (max-width: 767px) {
    .sidebar-icon i{
        font-size: 2rem!important;
    }
}