/* TYPOGRAPHY */

*,
html,
body {
    font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lora", serif;
}

.font-primary {
    font-family: "Lora", serif;
}
.font-semibold {
    font-weight: 600;
}
.font-secondary {
    font-family: "Montserrat", sans-serif;
}
