/* TYPOGRAPHY */

*,
html,
body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3,
h4, h5, h6{
    font-family: 'Lora', serif;
}

.font-primary{font-family: 'Lora', serif;}
.font-secondary{font-family: 'Montserrat', sans-serif;}